<html ng-app="Echo">

	<head>
		<title>Echo</title>
		<script src="js/angular.min.js"></script>
		<script src="js/jquery-1.11.2.min.js"></script>
		<script src="js/MasterController.js"></script>


		<link href="css/global.css" rel="stylesheet">
		<!-- Bootstrap core CSS -->
    	<link href="css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>

		<div id="homeContainer" class="container" ng-controller="LandingPageController">
			<h1>Echo</h1>
			<br/>

			<h2>Start a Session</h2>

			<br/>
			<p><input type="text" placeholder="Enter Session Name" ng-model="sessionName" ></input></p>
			<p><button id="startButton" ng-click="startSession()">Start</button></p>
		</div>
		







		<!-- Bootstrap core JavaScript
    	================================================== -->
    	<!-- Placed at the end of the document so the pages load faster -->
    	<script src="js/bootstrap.min.js"></script>
    	<script src="js/docs.min.js"></script>
    	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    	<script src="js/ie10-viewport-bug-workaround.js"></script>
	</body>


</html>